/** #################
  * 3.0 - Fixed Top Bar
  */

  .navbar-custom{
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    outline: none;

    @include screen-xs{
      background-color:  rgba(0, 0, 0, 0.8);
    }




    .navbar-toggle {
      color: white;
      background-color: #ddd;
        @include FontSize3rem;
    }

    .navbar-toggle:focus,
    .navbar-toggle:active {
      outline: none;
    }

    .navbar-brand {
      font-weight: 700;
    }

    .navbar-brand .site-caption{
      font-family: $fontFamily4;
      @include FontSize3rem;
    }


    .navbar-brand:focus {
      outline: none;
    }

    a {
      color: white;

    }

    .menu-button{
      background: rgba(0, 0, 0, 0.8);
    }

    .nav a{
      @include FontSize2_6rem;
      font-family: $fontFamily2;
    }
    
    .nav li a:link,
    .nav li a:visited{
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      font-weight: 700;

    }

    .nav li a:hover {
      color: rgba(255, 255, 255, 0.8);
      outline: none;
      background-color: #555;
    }


    .nav li a:focus,
    .nav li a:active {
      outline: none;
      background-color: transparent;
    }

    .nav li.active {
      background-color: #555 ;
      -webkit-transition: background 0.5s ease;
      -moz-transition: background 0.5s ease;
      transition: background 0.5s ease;
    }

    .nav li.active a {
      background-color: #555 ;
    }


    .nav li.active a:hover {
      color: white;
      background-color: #555;
    }

    .menu-button{
      @include FontSize2_4rem;
      background-color: #ddd;
      color : #000;
      padding : 3px 15px 3px 15px;
    }




  }

  .navbar-custom{
    @include screen-xs-min{
      padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
  }

  .navbar-custom.top-nav-collapse {
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);



  }



/**
 * END Fixed Top Bar
 *
 *
 *
 *
 */
