/** #################
 *  Variables
 */
 $color1 : #efefef;
 $color2 : #010101;
 $color3 : #222;
 $color4 : #efefef;
 $color5 : #ddd;

 $fontFamily1 :  "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
 $fontFamily2 :  'Josefin Sans', sans-serif;
 $fontFamily3 : 'Sriracha', cursive;
 $fontFamily4 : 'Lobster', cursive;

$varfontSize1 : 3em;
$varfontSize2 : 1.6em;
$varfontSize3 : 1em;
$varfontSize4 : 2.4em;

$varfontSize1-xs : 2em;
$varfontSize2-xs : 1em;
